<CollapsablePanel as |panel|>
  <panel.header>
    <h3>{{chartTitle}}</h3>
  </panel.header>

  <panel.content>
    <C3Chart 
      @data={{this.data}} 
      @c3chart={{this.chart}} 
    />
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <button class="btn btn-sm btn-primary" onclick={{action "toggleLegend"}}>
    Toggle Legend
  </button>
  <button class="btn btn-sm btn-primary" onclick={{action "toggleData3"}}>
    Toggle Data 3
  </button>
  <button class="btn btn-sm btn-primary" onclick={{action "transform"}}>
    Transform
  </button>

  {{#if isBar}}
    <button class="btn btn-sm btn-primary" onclick={{action "stackBars"}}>
      Stack Bars
    </button>
  {{else}}
    <button class="btn btn-sm btn-primary" onclick={{action "makeCombo"}}>
      Combo
    </button>
  {{/if}}

  <button class="btn btn-sm btn-primary" onclick={{action "changeColors"}}>
    Change Colors
  </button>
</div>

<div class="mt-5">
  <h5>templates/index.hbs</h5>
  <CodeSnippet @name="index.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/index.js</h5>
  <CodeSnippet @name="chart-events.js" />
</div>
