<CollapsablePanel as |panel|>
  <panel.header>
    <h3>
      {{pageTitle}}
      <span class="pull-right"> {{message}}</span>
    </h3>
  </panel.header>

  <panel.content>
    <div class="row align-items-center justify-content-center mb-3">
      <C3Chart
        @data={{this.data}}
        @padding={{this.padding}}
        @title={{this.title}}
        @size={{this.size}}
        @axis={{this.axis}}
        @grid={{this.grid}}
        @tooltip={{this.tooltip}}
        @legend={{this.legend}}
        @oninit={{action "setup"}}
        @onmouseover={{action "mouseover"}}
        @onmouseout={{action "mouseout"}}
        @onresize={{action "resizing"}}
      />
    </div>
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <span class="pull-right text-primary">Hover over chart or resize window to trigger events</span>
</div>

<div class="mt-5">
  <h5>templates/chart-events.hbs</h5>
  <CodeSnippet @name="chart-events.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/index.js</h5>
  <CodeSnippet @name="chart-events.js" />
</div>