<CollapsablePanel as |panel|>
  <panel.header>
    <h3>{{chartTitle}}</h3>
  </panel.header>

  <panel.content>
    <C3Chart 
      @data={{this.data}} 
      @c3chart={{this.chart}} 
    />
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <button class="btn btn-sm btn-primary" {{on "click" this.toggleLegend}}>
    Toggle Legend
  </button>
  <button class="btn btn-sm btn-primary" {{on "click" this.toggleData3}}>
    Toggle Data 3
  </button>
  <button class="btn btn-sm btn-primary" {{on "click" this.transform}}>
    Transform
  </button>

  {{#if isBar}}
    <button class="btn btn-sm btn-primary" {{on "click" this.stackBars}}>
      Stack Bars
    </button>
  {{else}}
    <button class="btn btn-sm btn-primary" {{on "click" this.makeCombo}}>
      Combo
    </button>
  {{/if}}

  <button class="btn btn-sm btn-primary" {{on "click" this.changeColors}}>
    Change Colors
  </button>
</div>

<div class="mt-5">
  <h5>templates/chart-obj.hbs</h5>
  <CodeSnippet @name="chart-obj.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/chart-obj.js</h5>
  <CodeSnippet @name="chart-obj.js" />
</div>
