<CollapsablePanel as |panel|>
  <panel.header>
    <h3>Donut Chart</h3>
  </panel.header>

  <panel.content>
    <C3Chart 
      @data={{this.data}} 
      @donut={{this.donut}} 
      @title={{this.title}} 
      @padding={{this.padding}}
    />
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <button class="btn btn-sm btn-primary" {{on "click" (action this.animateChart)}}>
    Animate
  </button>
</div>

<div class="mt-5">
  <h5>templates/donut.hbs</h5>
  <CodeSnippet @name="donut.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/donut.js</h5>
  <CodeSnippet @name="donut.js" />
</div>
