<CollapsablePanel as |panel|>
  <panel.header>
    <h3>Drill Down</h3>
  </panel.header>

  <panel.content>
    <C3Chart 
      @data={{this.data}}
      @title={{this.title}}
      @dtitle={{this.dtitle}}
      @padding={{this.padding}}
      @c3chart={{this.chart}}
    />
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <span class="pull-right text-primary">
    Click on pie segments to drill down
  </span>
  <button class="btn btn-sm btn-primary" onclick={{action "resetData"}}>
    Reset
  </button>
  <button class="btn btn-sm btn-primary" onclick={{action "addWhite"}}>
    White Flowers
  </button>
  <button class="btn btn-sm btn-primary" onclick={{action "titleOnly"}}>
    Change Title
  </button>
</div>

<div class="mt-5">
  <h5>templates/drilldown.hbs</h5>
  <CodeSnippet @name="drilldown.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/drilldown.js</h5>
  <CodeSnippet @name="drilldown.js" />
</div>
