<CollapsablePanel as |panel|>
  <panel.header>
    <h3>C3 Data Events</h3>
  </panel.header>

  <panel.content>
    <br>
    <div class="text-center">
      <p>Mouseover: {{this.hoverMsg}}</p>
      <p>Mouse Click: {{this.message}}</p>
    </div>
    <C3Chart 
      @data={{this.data}} 
      @title={{this.title}} 
      @padding={{this.padding}} 
    />
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <span class="pull-left text-primary">
    Hover and click on pies to trigger events
  </span>
</div>

<div class="mt-5">
  <h5>templates/events.hbs</h5>
  <CodeSnippet @name="events.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/events.js</h5>
  <CodeSnippet @name="events.js" />
</div>
