{{#collapsable-panel as |panel|}}
  {{#panel.header}}
    <h3>C3 Events</h3>
  {{/panel.header}}

  {{#panel.content}}
    <br />
      <div class="text-center">
      <p>Mouseover: {{hover}}</p>
      <p>Mouse Click: {{message}}</p>
    </div>
    {{c3-chart data=data title=title padding=padding c3chart=chart}}
  {{/panel.content}}
{{/collapsable-panel}}

<div class="container mt-2">
   <a href="#" class="pull-right" onclick={{action "toggleLegend"}}>{{lbuttonText}}</a>
</div>

<div class="mt-5 ">
  <h5>templates/events.hbs</h5>
  <div class="pl-3 code-background">
    \{{c3-chart data=data title=title padding=padding c3chart=chart}}
  </div>
</div>

<div class="mt-5">
  <h5>controllers/events.js</h5>
  {{code-snippet name="events.js"}}
</div>