<CollapsablePanel as |panel|>
  <panel.header>
    <h3>Gauge Chart</h3>
  </panel.header>

  <panel.content>
    <C3Chart
      @data={{this.data}}
      @gauge={{this.gauge}}
      @color={{this.color}}
      @size={{this.size}}
      @title={{this.title}}
      @padding={{this.padding}}
    />
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <button class="btn btn-sm btn-primary" {{on "click" this.animateChart}}>
    Animate
  </button>
</div>

<div class="mt-5">
  <h5>templates/gauge.hbs</h5>
  <CodeSnippet @name="gauge.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/gauge.js</h5>
  <CodeSnippet @name="gauge.js" />
</div>
