<CollapsablePanel as |panel|>
  <panel.header>
    <h3>Pie Chart</h3>
  </panel.header>

  <panel.content>
    <C3Chart 
      @data={{this.data}} 
      @title={{this.title}} 
      @padding={{this.padding}} 
      @c3chart={{this.chart}} 
    />
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <button class="btn btn-sm btn-primary" {{on "click" (action this.animateChart)}}>
    Animate
  </button>
</div>

<div class="mt-5">
  <h5>templates/pie.hbs</h5>
  <CodeSnippet @name="pie.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/pie.js</h5>
  <CodeSnippet @name="pie.js" />
</div>
