{{#collapsable-panel as |panel|}}
  {{#panel.header}}
  <h3>Timeseries</h3>
  {{/panel.header}}

  {{#panel.content}}
    {{c3-chart data=data axis=axis title=title padding=padding c3chart=chart}}
  {{/panel.content}}
{{/collapsable-panel}}

<div class="container mt-2">
  <a href="#" class="pull-right" onclick={{action "toggleLegend"}}>{{lbuttonText}}</a>
</div>

<div class="mt-5 ">
  <h5>templates/timeseries.hbs</h5>
  <div class="pl-3 code-background">
    \{{c3-chart data=data axis=axis title=title padding=padding c3chart=chart}}
  </div>
</div>

<div class="mt-5">
  <h5>controllers/timeseries.js</h5>
  {{code-snippet name="timeseries.js"}}
</div>